@import url('https://fonts.googleapis.com/css2?family=Bevan:ital@1&display=swap');

.button__component{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    background:#000000;
    width:280px;
    margin: .5rem auto;
}
.button__component{
    font-size: 1.4rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Bevan', serif;
}
.button__component img{
    width: 57px;
}
a{
    text-decoration: none;
}
span{
    padding: .8rem;
    width: 130px;
}
.web{
    animation-delay: .1s;
}
.instagram{
animation-delay: .2s;
}
.facebook{
    animation-delay: .3s;
}
.whatsApp{
    animation-delay: .4s;
}
.llamadas{
    animation-delay: .5s;
}
.email{
    animation-delay: .6s;
}


