.navbar{
    background:#ffffff;
    width: 175px;
    height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 10px 10px 15px;
}
.navbar img{
    width: 120px;
}