footer{
    width: 300px;
    margin: .2rem auto;
}
footer p {
    text-align: center;
    font-size: 1rem;
    color: #14222D;
    padding-bottom: .1rem;
    margin: 0;
    font-family: 'Bevan', serif;
}