html,body{
    background: linear-gradient(0deg, rgba(217,191,65,1) 0%, rgba(140,97,15,1) 100%);
    max-width: 420px;
    height: 100vh;
    margin: 0 auto;
}
/*
amarrillo      Mostaza         mostaza opaco     naranja        azul fuerte 
#D9BF41        #A68521         #8C610F           #E98E23        #14222D

*/