body{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../src/images/iconos/Fondo-castiglia.jpg);
    max-width: 420px;
    height: 100vh;
    margin: 0 auto;
}
/*
amarrillo      Mostaza         mostaza opaco     naranja        azul fuerte 
#D9BF41        #A68521         #8C610F           #E98E23        #14222D

*/