html,body{
    background:#bf9823;
    max-width: 450px;
    margin: 0 auto;
}
/*
amarrillo      Mostaza         mostaza opaco     naranja        azul fuerte 
#D9BF41        #A68521         #8C610F           #E98E23        #14222D

*/